<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Users, by ID</title>
</head>
<body>
    
    <h1>Users by ID: <%= user.id %></h1>
    <ul>
        <li>Username: <%= user.username %> </li>
        <li>Email: <%= user.email %> </li>
        <li>Phone: <%= user.phone %> </li>
    </ul>

</body>
</html>